{% extends 'base.html' %}

{%block title%}
Home2
{%endblock%}

{%block content%}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-6">
            <div class="p-6 lg:w-1/2">
                <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                    <h1 class="text-gray-900 text-lg font-medium title-font mb-5">Create a Room</h1>
                    <form id="post-form1" method="POST" action="/home">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="formOne">
                        <div class="relative mb-4">
                            <label class="leading-7 text-sm text-gray-600">Room Name</label>
                            {{ form1.roomname }}
                        </div>
                        <div class="relative mb-4">
                            <label class="leading-7 text-sm text-gray-600">Password</label>
                            {{ form1.password }}
                        </div>
                        <button type="submit" name="create_room"
                                class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                            Enter Room
                        </button>
                    </form>
                    <p class="text-xs text-gray-500 mt-3">Enjoy chatting with your loved ones!!</p>
                </div>
            </div>
            <div class="p-6 lg:w-1/2">
                <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                    <h1 class="text-gray-900 text-lg font-medium title-font mb-5">Join a Room</h1>
                    <form id="post-form2" method="POST" action="/home">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="formTwo">
                        <div class="relative mb-4">
                            <label class="leading-7 text-sm text-gray-600">Room Name</label>
                            {{form2.roomname}}
                        </div>
                        <div class="relative mb-4">
                            <label class="leading-7 text-sm text-gray-600">Password</label>
                            {{form2.password}}
                        </div>
                        <button type="submit" name="join_room"
                                class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                            Enter Room
                        </button>
                    </form>
                    <p class="text-xs text-gray-500 mt-3">And Keep Annoying ones away!!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}

{%block css%}
<style>
.rounded-lg {
    border-radius: 1.3rem!important;
}




</style>
{%endblock%}